<template>
    <v-dialog max-width="600px" v-model="dialog">
        <template v-slot:activator="{ on }">
            <v-btn v-on="on" class="success" >
                Create group
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Create Group</span>
            </v-card-title>
            <v-form ref="form">
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field v-model="name" :rules="requiredRule" label="name*"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
            </v-form>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                <v-btn color="blue darken-1" text @click="submit()">Create</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import Axios from 'axios';

export default {
    data() {
        return {
            name: '',
            dialog: false,
            requiredRule: [v => !!v || "This field is required"],
        }
    },
    methods: {
        submit () {
            if(this.$refs.form.validate()) {
                Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
                Axios.post("http://localhost:7001" + "/api/Group/Add", {
                    name: this.name,
                })
                .then(response => {
                    this.$refs.form.reset();
                    this.dialog = false;
                    this.$emit("CreatedGroup")
                })
            }
        }
    }
}
</script>