<template>
    <v-dialog max-width="600px" v-model="dialog">
        <template v-slot:activator="{ on }">
            <v-btn v-on="on" class="success" >
                Create user
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Create User</span>
            </v-card-title>
            <v-form ref="form">
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="6">
                                <v-text-field v-model="firstname" :rules="requiredRule" label="Firstname*"></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-text-field v-model="lastname" :rules="requiredRule" label="Lastname*"></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field v-model="email" :rules="emailRules" label="Email*"></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field v-model="password" :rules="requiredRule" type="password" label="Password*"></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field v-model="passwordagin" :rules="matchPasRule" type="password" label="Password again*"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
            </v-form>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                <v-btn color="blue darken-1" text @click="submit()">Create</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import Axios from 'axios';

export default {
    data() {
        return {
            firstname: '',
            lastname: '',
            email: '',
            password: '',
            passwordagin: '',
            dialog: false,
            requiredRule: [v => !!v || "This field is required"],
            matchPasRule: [
                v => !!v || "This field is required",
                v => v == this.password || "This need to match"
            ],
            emailRules: [
                v => !!v || "This field is required",
                v => /.+@.+\..+/.test(v) || "E-mail must be valid"
            ],
        }
    },
    methods: {
        submit () {
            if(this.$refs.form.validate()) {
                Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
                Axios.post("http://localhost:7001" + "/api/User/Add", {
                    firstname: this.firstname,
                    lastname: this.lastname,
                    email: this.email,
                    password: this.password
                })
                .then(response => {
                    this.$refs.form.reset();
                    this.dialog = false;
                    this.$emit("CreatedUser")
                    console.log("Success")
                })
            }
        }
    }
}
</script>