<template>
    <nav>
        <v-app-bar clipped app>
            <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>User</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu bottom left offset-y :close-on-content-click="false">
                <template v-slot:activator="{ on }">
                <v-btn icon v-on="on">
                    <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
                </template>
                <v-list>
                    <v-list-item>
                        <v-switch prepend-icon="mdi-brightness-6" v-model="$vuetify.theme.dark" />
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>
        <v-navigation-drawer app v-model="drawer">
            <v-list-item>
                <v-list-item-avatar>
                    <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                    <v-list-item-title>{{`${this.$store.state.me.firstname} ${this.$store.state.me.lastname}`}}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list dense>
                <v-list-item v-for="item in items" :key="item.title" link :to="item.route">
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <template v-slot:append>
                <v-list dense>
                    <v-list-item link to="/logout">
                        <v-list-item-icon>
                            <v-icon class="red--text">mdi-logout</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title class="red--text">Logout</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </template>
        </v-navigation-drawer>
        <v-content class="fill-height ma-4" fluid>
            <router-view></router-view>
        </v-content>
    </nav>
</template>

<script>
export default {
    name: "app",
    data () {
      return {
        drawer: null,
        items: [
            { title: 'Dashboard', icon: 'mdi-view-dashboard', route: '/app/dashboard' },
            { title: 'Users', icon: 'mdi-account', route: '/app/users' },
            { title: 'Groups', icon: 'mdi-account-multiple', route: '/app/groups' },
        ],
      }
    }
}
</script>