<template>
    <v-card>
        <v-card-title>Edit: {{fullname}}</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
            <v-row>
                <v-col cols=6>
                    <v-text-field v-model="form.firstname" label="Fistname"></v-text-field>
                </v-col>
                <v-col cols=6>
                    <v-text-field v-model="form.lastname" label="Lastname"></v-text-field>
                </v-col>
                <v-col cols=12>
                    <v-text-field v-model="form.email" label="Email"></v-text-field>
                </v-col>
            </v-row>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn :loading="updateloading" color="primary" @click="UploadDetail">Update</v-btn>
            <v-spacer></v-spacer>
        </v-card-actions>
        <v-divider></v-divider>
        <v-card-title>Permissions</v-card-title>
        <v-card-text>
            <v-text-field
                v-model="permission"
                dense 
                outlined 
                append-outer-icon="mdi-plus"
                @click:append-outer="AddPermission" >
            </v-text-field>
            <v-data-table :headers="headers" :items="permissions">
                <template v-slot:item.action="{ item }">
                    <v-icon small
                        @click="display = true; currPermission = item"
                    >
                    mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-title>Groups</v-card-title>
        <v-card-text>
            <v-autocomplete
            v-model="grouptext"
            :items="groups"
            item-text="name"
            append-outer-icon="mdi-plus"
            return-object 
            @click:append-outer="AddGroup(grouptext.id)"
            >
            </v-autocomplete>
            <v-simple-table>
                <thead>
                    <th class="text-left">Name</th>
                    <th class="text-right">Action</th>
                </thead>
                <tbody>
                    <tr v-for="item in UserGroups" v-bind:key="item.id">
                        <td>{{item.name}}</td>
                        <td class="text-right"><v-icon small @click="display = true; currGroupid = item.id">mdi-delete</v-icon></td>
                    </tr>
                </tbody>
            </v-simple-table>
        </v-card-text>
        <v-dialog max-width="290" v-model="display">
            <v-card>
                <v-card-title class="text-center">Are you sure?</v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text @click="display = false">Cancel</v-btn>
                    <v-btn text @click="DeletePermission" class="color--text error">Delete</v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
import Axios from 'axios'

export default {
    data() {
        return {
            updateloading: false,
            display: false,
            fullname: '',
            permission: '',
            grouptext: [],
            currPermission: '',
            currGroupid: '',
            groups: [],
            UserGroups: [],
            form: {
                firstname: '',
                lastname: '',
                email: '',
            },
            headers: [{
                text: 'Permission',
                sortable: false,
                value: 'permission',
            },
            { text: 'Actions', sortable: false, align: 'right', value: 'action'}],
            permissions: []
        }
    },
    created() {
        this.UpdateDetail();
        this.UpdatePermission();
        this.UpdateUserGroup();

        Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
        Axios.get("http://localhost:7001" + `/api/Groups`)
        .then(res => {
            this.groups = res.data
        })
    },
    methods: {
        AddPermission() {
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.post("http://localhost:7001" + `/api/User/${this.$route.params.id}/Permission/Add`, {
                permission: this.permission     
            })
            .then(res => {
                this.UpdatePermission();
                this.permission = ''
            })
        },
        DeletePermission() {
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.post("http://localhost:7001" + `/api/User/${this.$route.params.id}/Permission/Remove`, {
                permission: this.currPermission.permission
            }).then(res => {
                this.UpdatePermission()
                this.display = false
            }).then(err => {
                console.log(err.response)
            })
        },
        UploadDetail() {
            this.updateloading = true;
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.put("http://localhost:7001" + `/api/User/${this.$route.params.id}/Update`, {
                firstname: this.form.firstname,
                lastname: this.form.lastname,
                email: this.form.email
            })
            .then(res => {
                this.updateloading = false;
                this.UpdateDetail()
            }).catch(res => {
                this.updateloading = false;
            })
        },
        AddGroup(groupId){
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.put("http://localhost:7001" + "/api/User/" + this.$route.params.id + "/Group/Add", {
                groupID: groupId
            }).then(res => {
                grouptext = ''
                this.UpdateUserGroup()
            })
        },
        UpdateDetail() {
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.get("http://localhost:7001" + "/api/User/" + this.$route.params.id)
                .then(response => {
                    this.fullname = `${response.data.firstname} ${response.data.lastname}`
                    this.form.firstname = response.data.firstname
                    this.form.lastname = response.data.lastname
                    this.form.email = response.data.email
                })
        },
        UpdatePermission() {
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.get("http://localhost:7001" + "/api/User/"+ this.$route.params.id +"/Permission")
            .then(response => {
                this.permissions = response.data
            })
        },
        UpdateUserGroup() {
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.get("http://localhost:7001" + "/api/User/"+ this.$route.params.id +"/Groups")
            .then(response => {
                this.UserGroups = response.data
            })
        }
    }
}
</script>

<style scoped>
    .v-input__append-outer {
        margin: 0 !important
    }
</style>