<template>
    <div>
        <v-card>
            <v-card-title>
                Users
                <v-spacer></v-spacer>
                <v-text-field v-model="search" label="Search" single-line hide-details append-icon="mdi-account-search"></v-text-field>
            </v-card-title>
            <v-card-text>
                <v-row class="pr-2" justify="end">
                    <CreateUser v-on:CreatedUser="updatetable"></CreateUser>
                </v-row>
            </v-card-text>
            <v-card-text>

            <v-data-table
                :headers="headers"
                :items="Users"
                :options.sync="options"
                :server-items-length="totalUsers"
                :loading="loading"
                :footer-props="{
                    'items-per-page-options': [1, 10, 20, 30, 40, 50, 100]
                }"
            >
                <template v-slot:item.action="{ item }">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editUser(item.id)"
                    >
                    mdi-pencil
                    </v-icon>
                    <v-icon
                        small
                        @click="display = true;deleteID = item.id"
                    >
                    mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
            </v-card-text>
        </v-card>
        <v-dialog max-width="290" v-model="display">
            <v-card>
                <v-card-title class="text-center">Are you sure?</v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text @click="display = false">Cancel</v-btn>
                    <v-btn text class="color--text error">Delete</v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import axios from 'axios'

import CreateUser from '../../components/CreateUser'

export default {
    components: { CreateUser },
    data() {
        return {
            deleteID: '',
            display: false,
            displayUserInfo: false,
            search: '',
            totalUsers: 0,
            Users: [],
            loading: false,
            options: {},
            headers: [
                { text: 'Firstname', value: 'firstname' },
                { text: 'Lastname', value: 'lastname' },
                { text: 'Email', align: 'left', sortable: false, value: 'email' },
                { text: 'Actions', sortable: false, align: 'right', value: 'action'},
            ],        
        }
    },
    watch: {
        options: {
            handler() {
                this.getDataFromApi().then(data => {
                    this.Users = data.data;
                    this.totalUsers = data.total;
                })
            }
        },
        search() {
            this.getDataFromApi().then(data => {
                this.Users = data.data;
                this.totalUsers = data.total;
            })
        }
    },
    mounted() {
        this.getDataFromApi().then(data => {
            this.Users = data.data;
            this.totalUsers = data.total;
        })
    },
    methods: {
        updatetable() {
            this.getDataFromApi().then(data => {
                this.Users = data.data;
                this.totalUsers = data.total;
            })
        },
        editUser(id) {
            this.$router.push("users/edit/" + id)
        },
        DeleteUser() {
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            axios.delete("http://localhost:7001" + `/api/User/${this.deleteID}/Remove`)
            .then(res => {
                this.display = false
                this.updatetable()
            })
        },
        getDataFromApi () {
            this.loading = true;
            return new Promise((resolve, reject) => {
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
                const { sortBy, sortDesc, page, itemsPerPage } = this.options

                axios.get("http://localhost:7001" + "/api/Users?" 
                    + `liment=${itemsPerPage}` + '&'
                    + `page=${page}` + '&'
                    + `query=${this.search}`)
                .then(response => {
                    this.loading = false;
                    let users = response.data;
                    const total = response.total;
                    resolve(users, total)
                }).catch(error => {
                    this.loading = false;
                    console.log(error.response);
                    reject(error);
                })
            })
        }
    }
}
</script>