<template>
  <v-row align="center" justify="center">
    <v-snackbar color="error" :timeout="timeout" top v-model="snackbar">
      The mail or password is wrong
      <v-btn text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-col cols="12" sm="8" md="4">
      <v-card class="mx-auto my-12">
        <v-toolbar flat>
          <v-spacer></v-spacer>
          <v-toolbar-title class="p-0">
            <h2>Login</h2>
          </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-form class="mx-5" @submit.prevent="onSubmit" ref="form">
          <v-text-field
            class=""
            label="Email"
            :rules="emailRules"
            v-model="email"
            prepend-icon="mdi-account"
          ></v-text-field>
          <v-text-field
            class=""
            label="Password"
            :rules="passRules"
            type="password"
            v-model="password"
            prepend-icon="mdi-lock"
          ></v-text-field>
          <v-layout class="pb-5">
            <v-btn type="submit" :loading="loading" class="mx-auto primary">Login</v-btn>
          </v-layout>
        </v-form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      loading: false,
      snackbar: false,
      timeout: 5000,
      email: null,
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      password: null,
      passRules: [v => !!v || "Password is required"]
    };
  },
  methods: {
    onSubmit() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        this.$store.dispatch("retrieveToken", {
          email: this.email,
          password: this.password
        })
        .then(() => {
          this.$router.push({ name: 'dashboard' })
        })
        .catch(() => {
          this.snackbar = true
          this.loading = false
        })       
      }
    }
  }
};
</script>
