<template>
    <v-card>
        <v-card-title>Edit: {{name}}</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
            <v-row>
                <v-col cols=12>
                    <v-text-field v-model="form.Name" label="Name"></v-text-field>
                </v-col>
            </v-row>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn :loading="updateloading" color="primary" @click="UploadDetail">Update</v-btn>
            <v-spacer></v-spacer>
        </v-card-actions>
        <v-divider></v-divider>
        <v-card-title>Permissions</v-card-title>
        <v-card-text>
            <v-text-field
                    v-model="permission"
                    dense 
                    outlined 
                    append-outer-icon="mdi-plus"
                    @click:append-outer="AddPermission" >
            </v-text-field>
            <v-data-table :headers="headers" :items="permissions">
                <template v-slot:item.action="{ item }">
                    <v-icon small
                        @click="display = true; currPermission = item"
                    >
                    mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-card-text>
        <v-dialog max-width="290" v-model="display">
            <v-card>
                <v-card-title class="text-center">Are you sure?</v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text @click="display = false">Cancel</v-btn>
                    <v-btn text @click="DeletePermission" class="color--text error">Delete</v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
import Axios from 'axios'

export default {
    data() {
        return {
            name: '',
            permission: '',
            currPermission: '',
            updateloading: false,
            display: false,
            form: {
                Name: ''
            },
             headers: [{
                text: 'Permission',
                sortable: false,
                value: 'permission',
            },
            { text: 'Actions', sortable: false, align: 'right', value: 'action'}],
            permissions: []
        }
    },
    created() {
        this.UpdateDetail();
        this.UpdatePermission();
    },
    methods: {
        AddPermission() {
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.post("http://localhost:7001" + `/api/Group/${this.$route.params.id}/Permission/Add`, {
                permission: this.permission     
            })
            .then(res => {
                this.UpdatePermission();
                this.permission = ''
            })
        },
        DeletePermission() {
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.post("http://localhost:7001" + `/api/Group/${this.$route.params.id}/Permission/Remove`, {
                permission: this.currPermission.permission
            }).then(res => {
                this.UpdatePermission()
                this.display = false
            }).then(err => {
             })
        },
        UpdatePermission() {
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.get("http://localhost:7001" + "/api/Group/"+ this.$route.params.id +"/Permission")
            .then(response => {
                console.log(response)
                this.permissions = response.data
            })
        },
        UpdateDetail() {
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.get("http://localhost:7001" + "/api/Group/" + this.$route.params.id)
                .then(response => {
                    this.name = response.data.name
                    this.form.Name = response.data.name
                })
        },
        UploadDetail() {
            this.updateloading = true;
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.put("http://localhost:7001" + `/api/Group/${this.$route.params.id}/Rename`, {
                name: this.form.Name,
            })
            .then(res => {
                this.updateloading = false;
                this.UpdateDetail()
            }).catch(res => {
                this.updateloading = false;
            })
        }
    }
}
</script>