<template>
<div>
    <v-card>
        <v-card-title>Groups</v-card-title>
         <v-card-text>
            <v-row class="pr-2" justify="end">
                <CreateGroup v-on:CreatedGroup="updateGroup"></CreateGroup>
            </v-row>
        </v-card-text>
        <v-card-text>
            <v-data-table 
            :headers="headers"
            :items="groups"
            >
                <template v-slot:item.action="{ item }">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editGroup(item.id)"
                    >
                    mdi-pencil
                    </v-icon>
                    <v-icon small
                        @click="display = true; deleteId = item.id"
                    >
                    mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-card-text>
    </v-card>
    <v-dialog max-width="290" v-model="display">
            <v-card>
                <v-card-title class="text-center">Are you sure?</v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text @click="display = false">Cancel</v-btn>
                    <v-btn text @click="DeleteGroup" class="color--text error">Delete</v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
    </v-dialog>
</div>  
</template>

<script>
import Axios from 'axios'
import CreateGroup from '../../components/CreateGroup'

export default {
    data() {
        return {
            display: false,
            deleteId: '',
            groups: [],
            headers: [{
                text: 'Name',
                sortable: false,
                value: 'name',
            },
            { text: 'Actions', sortable: false, align: 'right', value: 'action'}]
        }
    },
    components: {
        CreateGroup
    },
    created() {
        this.updateGroup()
    },
    methods: {
        updateGroup() {
            this.GetGroups().then(data => {
                console.log(data)
                this.groups = data
            })
        },
        DeleteGroup() {
            Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
            Axios.delete("http://localhost:7001" + `/api/Group/${this.deleteId}/Remove`)
            .then(res => {
                this.display = false
                this.updateGroup()
                console.log(this.deleteId)
            })

        },
        editGroup(id) {
            this.$router.push("groups/edit/" + id)
        },
        GetGroups() {
            return new Promise((resolve, reject) => {
                Axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.token;
                Axios.get("http://localhost:7001" + `/api/Groups`)
                .then(res => {
                    resolve(res.data)
                }).catch(err => {
                    reject(err)
                })
            })
        }
    }
}
</script>
