<template>
  <v-dialog fullscreen v-model="show" hide-overlay transition="dialog-bottom-transition">
      <v-toolbar dark>
          <v-btn icon dark @click="close">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Mads Bruun Jensen</v-toolbar-title>
        </v-toolbar>
      <v-card>
            <v-container>
                <v-row>
                    <v-col cols=8>
                        <h2>Firstname:</h2>
                        <p>Mads bruun Jensen</p>
                        <h2>Email:</h2>
                        <p>Mads@jensen.com</p>
                    </v-col>
                    <v-col cols=4>
                        <v-responsive :aspect-ratio="1/1">
                            <v-avatar tile width="100%" height="100%" color="red">
                                <span style="font-size:12vw !important" class="white--text headline">MJ</span>    
                            </v-avatar>
                        </v-responsive>
                    </v-col>
                    <v-divider></v-divider>
                    <v-col cols=12>
                        <h2>Groups</h2>
                        <p v-for="n in 3" :key="n">Groups</p>
                    </v-col>
                    <v-col cols=12>
                        <h2>Permissions</h2>
                        <p v-for="n in 3" :key="n">Permission</p>
                    </v-col>
                </v-row>
            </v-container>
      </v-card>
  </v-dialog>
</template>

<script>
export default {
    props:["show"],
    methods: {
        close() {
            this.$emit("close")
        }
    }
};
</script>